<html>
  <head>
    <title>Add Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Add Server Policy</h1>
      <br>
      <form action="" method="post">
        <h4>Internal Server</h5>
        <input type="text" placeholder="Internal IP" name="internal" value="{{
          request.form.internal }}">
        <h4>External Server</h5>
         <input type="text" placeholder="External IP" name="external" value="{{
          request.form.external }}">
          <h4>Authentication Server</h5>
        <input type="text" placeholder="Authentication IP" name="authentication" value="{{
          request.form.authentication }}">

        <h4>Internal Server MAC</h5>
        <input type="text" placeholder="Internal MAC" name="internal_mac" value="{{
          request.form.internal_mac }}">
        <h4>External Server MAC</h5>
         <input type="text" placeholder="External MAC" name="external_mac" value="{{
          request.form.external_mac }}">
          <h4>Authentication Server MAC</h5>
        <input type="text" placeholder="Authentication MAC" name="authentication_mac" value="{{
          request.form.authentication_mac }}">

          <h4>Internal Server Port</h5>
        <input type="text" placeholder="Internal Port" name="internal_port" value="{{
          request.form.internal_port }}">
        <h4>External Server Port</h5>
         <input type="text" placeholder="External Port" name="external_port" value="{{
          request.form.external_mac }}">
          <h4>Authentication Server Port</h5>
        <input type="text" placeholder="Authentication Port" name="authentication_port" value="{{
          request.form.authentication_port }}">

          <h4>SDN Controller</h5>
        <input type="text" placeholder="SDN Controller" name="sdnController" value="{{
          request.form.sdnController }}">
          
        <br><br>
        <input class="btn btn-default" type="submit" value="Store">
      </form>
      <h5><button onClick="window.location='/user_add'">Admin Dashboard</button></h5>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

      <table border="1" style="width:100%">
         <thead>
            <tr>
               <th>External Server</th>
               <th>Internal Server</th>
               <th>Authentication Server</th>
               <th>Internal Server MAC</th>
               <th>External Server MAC</th>
               <th>Authentication Server MAC</th>
               <th>Internal Server Port</th>
               <th>External Server Port</th>
               <th>Authentication Server Port</th>
               <th>SDN Controller</th>
            </tr>
         </thead>
      <tbody>
            {% for item in items %}
            <tr>
            {% for i in item %}
                  <td>{{ i }}</td>
            {% endfor %}
          </tr>
            {% endfor %}
         </tbody>
      </table>
    </div>
  </body>
</html>
